@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header {
  background: #ffffff;
  border-bottom: 1.5px solid #e5e7ea;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}
.navbar__img {
  margin-right: 20px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 196px;
}
.navbar__item {
  padding: 18px 16px;
}
.navbar__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.navbar__item:hover {
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 100px;
}
.navbar__item:active {
  background: #299764;
  color: #fff;
}

#about {
  padding-right: 30px;
}

#about::after {
  position: absolute;
  content: "";
  right: 9px;
  background-image: url(../../imgs/arrow.svg);
  background-position: center;
  width: 9px;
  height: 6px;
  top: 10px;
}

#about:hover::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.navbar__menu {
  display: none;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btns__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 24px;
}
.btns__mode {
  width: 58px;
  height: 58px;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
  margin-right: 16px;
  background-image: url(../../imgs/moon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.btns__mode:active {
  background-color: #299764;
}
.btns__login {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 18px 60px 18px 30px;
  color: #ffffff;
  background: #299764;
  border-radius: 100px;
  background-image: url(../../imgs/login.svg);
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: center;
}

.moon:hover path {
  fill: #000000;
}

.moon:active path {
  fill: #fff;
}

.modal {
  display: none;
  position: absolute;
  top: 15%;
  left: 34%;
  width: 590px;
  height: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 24px 40px 32px;
}
.modal__content {
  position: relative;
}
.modal__del {
  position: absolute;
  right: 0;
  top: -15px;
  width: 58px;
  height: 58px;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
  background-image: url(../../imgs/del.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 16px;
}
.modal__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #555555;
  margin-bottom: 32px;
}
.modal__form {
  width: 526px;
  text-align: right;
  margin-bottom: 26px;
}
.modal__email {
  width: 526px;
  background: #ffffff;
  border: none;
  border-radius: none;
  border: 1.5px solid #e5e7ea;
  border-radius: 82px;
  padding: 18px 0 18px 30px;
  margin-bottom: 16px;
}
.modal__password {
  width: 526px;
  background: #ffffff;
  border: none;
  border-radius: none;
  border: 1.5px solid #e5e7ea;
  border-radius: 82px;
  padding: 18px 0 18px 30px;
  margin-bottom: 8px;
}
.modal__password-eye {
  position: absolute;
  top: 23px;
  right: 22px;
  width: 22px;
  height: 15px;
  border: none;
  background-image: url(../../imgs/eye.svg);
  background-repeat: no-repeat;
}
.modal__email::-webkit-input-placeholder, .modal__password::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::-moz-placeholder, .modal__password::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email:-ms-input-placeholder, .modal__password:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::-ms-input-placeholder, .modal__password::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::placeholder, .modal__password::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email:focus {
  border-radius: none;
  border-color: white;
}
.modal__forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #555555;
}
.modal__bottom-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}
.modal__login {
  display: inline-block;
  padding: 18px 252px 18px 222px;
  background-position-x: 280px;
}

.password {
  position: relative;
}

.modal-response {
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
  height: 100vh;
  display: none;
  padding: 24px 24px 40px 30px;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-logo {
  width: 150px;
  height: 40px;
  margin-right: 213px;
  margin-bottom: 57px;
}

.del_btn {
  width: 58px;
  height: 58px;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
  background-image: url(../../imgs/del.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-response__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  color: #000000;
  display: inline-block;
  margin-bottom: 52px;
}

.modal-about {
  margin-bottom: 52px;
}

.modal-ab-title,
.hlp-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 20px;
}

.ab-link,
.hlp-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #555555;
}

.ab-item:not(:last-child) {
  margin-bottom: 16px;
}

.hlp__item {
  margin-bottom: 16px;
}

.modal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1239px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__list {
    display: none;
  }
  .btns {
    display: none;
  }
  .navbar__menu {
    display: block;
  }
}
.community {
  padding: 100px 0px;
  background-color: #f5f5f5;
}
.community__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.community__right {
  padding: 70px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.community__fGoogle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.community__googleIcon {
  height: 10px;
  width: 9.8px;
}
.community__GoogleText {
  color: #4285f4;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.community__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 50px;
  width: 320px;
  margin-bottom: 14px;
}
.community__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.75;
  font-size: 14px;
}
.community__line {
  height: 2px;
  width: 330px;
  background: -webkit-gradient(linear, left top, right top, color-stop(19.83%, #ea4335), color-stop(65%, #fbbc05), color-stop(82.29%, #34a853), to(#4285f4));
  background: linear-gradient(90deg, #ea4335 19.83%, #fbbc05 65%, #34a853 82.29%, #4285f4 100%);
  margin-bottom: 14px;
}
.community__btn {
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #f9ed32 0%, #ee2a7b 36%, #d22a8a 44%, #8b2ab2 60%, #1b2af0 83%, #002aff 88%), -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #f9ed32 0%, #ee2a7b 36%, #d22a8a 44%, #8b2ab2 60%, #1b2af0 83%, #002aff 88%), linear-gradient(0deg, #ffffff, #ffffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  padding: 2px;
}
.community__instagram {
  height: 58px;
  width: 194px;
  border-radius: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.community__instagram:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: transparent;
}
.community__instagram:hover span {
  -webkit-text-fill-color: #fff;
}
.community__instagram span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-size: 18px;
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #f9ed32 0%, #ee2a7b 36%, #d22a8a 44%, #8b2ab2 60%, #1b2af0 83%, #002aff 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.community__left {
  position: relative;
  padding: 50px 0px 55px 40px;
  gap: 20px;
  background-color: #299764;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.community__item {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 14px;
}
.community__userAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.community__aboutTexts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-right: 66px;
}
.community__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.community__gmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.75;
}
.community__googleIcon2 {
  height: 42px;
  width: 42px;
  left: 0px;
  top: 0px;
  border-radius: 500px;
}
.community__avatar {
  height: 42px;
  width: 42px;
}
.community__text2 {
  width: 372px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.community__RatingText {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.community__hr {
  color: #e5e7ea;
}
.community__Rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
}

.slick-list {
  overflow: hidden;
}

.slick-active {
  width: 420px !important;
}

.slick-slide {
  width: 420px !important;
}

.slick-current {
  width: 420px !important;
}

.slick-prev {
  position: absolute;
  top: 0%;
  margin-top: 55%;
  right: 0%;
  margin-right: 15%;
  font-size: 0;
  width: 50px;
  z-index: 1;
  height: 50px;
  border-radius: 100px;
  border: none;
  background-image: url("../../imgs/prev.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 12px 8px;
}

.slick-next {
  position: absolute;
  top: 0%;
  margin-top: 55%;
  right: 0%;
  margin-right: 5%;
  font-size: 0;
  width: 50px;
  z-index: 1;
  height: 50px;
  border-radius: 100px;
  border: none;
  background-image: url("../../imgs/next.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 12px 8px;
}

@media screen and (max-width: 884px) {
  .community__box {
    padding: 60px 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .community__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .community__title {
    width: 320px;
    font-size: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 36px;
  }
}
.dreams {
  padding-bottom: 160px;
}

.dreams__text-box {
  text-align: center;
}

.dreams__head {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 10px;
}

.dreams__text {
  color: #555;
  line-height: 24px;
  margin-bottom: 40px;
}

.dreams__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.dreams__btn {
  border-radius: 50px;
  padding: 19px 40px;
  border: none;
  border: 1.5px solid #e5e7ea;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.dreams__btn:hover {
  background: #f5f5f5;
}
.dreams__btn:active {
  background: #299764;
  color: white;
}

.dreams__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.dreams__card {
  padding: 30px 24px;
  background: #f5f5f5;
  border-radius: 16px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.dreams__card:hover {
  background-color: #299764;
}

.dreams__card-head {
  font-size: 24px;
  font-weight: 600;
}

.dreams__card-text {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  padding-bottom: 15px;
}

.dreams__card-img {
  width: 387px;
  height: auto;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 68px;
}

.card_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
}

.dreams__main-btn {
  border-radius: 100px;
  padding: 18px 30px;
  margin-top: 40px;
  border: none;
  color: white;
  background: #299764;
}

@media screen and (max-width: 587px) {
  .dreams__card {
    padding: 24px 20px;
  }
  .dreams__head {
    font-size: 24px;
  }
  .dreams__btn {
    font-size: 14px;
    padding: 14px 20px;
  }
}
@media screen and (max-width: 465px) {
  .dreams__card-img {
    width: 330px;
  }
}
@media screen and (max-width: 400px) {
  .dreams__card-img {
    width: 300px;
  }
}
@media screen and (max-width: 370px) {
  .dreams__card-img {
    width: 270px;
  }
}
@media screen and (max-width: 340px) {
  .dreams__card-img {
    width: 250px;
  }
}/*# sourceMappingURL=main.css.map */