@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header {
  background: #ffffff;
  border-bottom: 1.5px solid #e5e7ea;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}
.navbar__img {
  margin-right: 20px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 196px;
}
.navbar__item {
  padding: 18px 16px;
}
.navbar__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.navbar__item:hover {
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 100px;
}
.navbar__item:active {
  background: #299764;
  color: #fff;
}

#about {
  padding-right: 30px;
}

#about::after {
  position: absolute;
  content: "";
  right: 9px;
  background-image: url(../../imgs/arrow.svg);
  background-position: center;
  width: 9px;
  height: 6px;
  top: 10px;
}

.navbar__menu {
  display: none;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btns__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 24px;
}
.btns__mode {
  width: 58px;
  height: 58px;
  border: none;
  border-radius: none;
  background: #f5f5f5;
  border-radius: 100px;
  margin-right: 16px;
  background-image: url(../../imgs/moon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.btns__login {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 18px 60px 18px 30px;
  color: #ffffff;
  background: #299764;
  border-radius: 100px;
  background-image: url(../../imgs/login.svg);
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: center;
}

.modal {
  display: none;
  position: absolute;
  top: 15%;
  left: 34%;
  width: 590px;
  height: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 24px 40px 32px;
}
.modal__content {
  position: relative;
}
.modal__del {
  position: absolute;
  right: 0;
  top: -15px;
  width: 58px;
  height: 58px;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
  background-image: url(../../imgs/del.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 16px;
}
.modal__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #555555;
  margin-bottom: 32px;
}
.modal__form {
  width: 526px;
  text-align: right;
  margin-bottom: 26px;
}
.modal__email {
  width: 526px;
  background: #ffffff;
  border: none;
  border-radius: none;
  border: 1.5px solid #e5e7ea;
  border-radius: 82px;
  padding: 18px 0 18px 30px;
  margin-bottom: 16px;
}
.modal__password {
  width: 526px;
  background: #ffffff;
  border: none;
  border-radius: none;
  border: 1.5px solid #e5e7ea;
  border-radius: 82px;
  padding: 18px 0 18px 30px;
  margin-bottom: 8px;
}
.modal__password-eye {
  position: absolute;
  top: 23px;
  right: 22px;
  width: 22px;
  height: 15px;
  border: none;
  background-image: url(../../imgs/eye.svg);
  background-repeat: no-repeat;
}
.modal__email::-webkit-input-placeholder, .modal__password::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::-moz-placeholder, .modal__password::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email:-ms-input-placeholder, .modal__password:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::-ms-input-placeholder, .modal__password::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email::placeholder, .modal__password::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.modal__email:focus {
  border-radius: none;
  border-color: white;
}
.modal__forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #555555;
}
.modal__bottom-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}
.modal__login {
  display: inline-block;
  padding: 18px 252px 18px 222px;
  background-position-x: 280px;
}

.password {
  position: relative;
}

.modal-response {
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
  height: 100vh;
  padding: 24px 24px 40px 30px;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-logo {
  width: 150px;
  height: 40px;
  margin-right: 213px;
  margin-bottom: 57px;
}

.del_btn {
  width: 58px;
  height: 58px;
  border: none;
  background: #f5f5f5;
  border-radius: 100px;
  background-image: url(../../imgs/del.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-response__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  color: #000000;
  display: inline-block;
  margin-bottom: 52px;
}

.modal-about {
  margin-bottom: 52px;
}

.modal-ab-title,
.hlp-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 20px;
}

.ab-link,
.hlp-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #555555;
}

.ab-item:not(:last-child) {
  margin-bottom: 16px;
}

.hlp__item {
  margin-bottom: 16px;
}

.modal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1239px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__list {
    display: none;
  }
  .btns {
    display: none;
  }
  .navbar__menu {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */